.responsiveGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
}

@media (min-width: 800px) {
    .responsiveGrid {
        grid-template-columns: repeat(2, max-content);
    }
}
@media (min-width: 1150px) {
    .responsiveGrid {
        grid-template-columns: repeat(3, max-content);
    }
}
@media (min-width: 1500px) {
    .responsiveGrid {
        grid-template-columns: repeat(4, max-content);
    }
}
